/* Container principal */
.container-tictactoe{
    height: 100vh;
    width: 100%;
    text-align: center;
    background-image: url(../img/paisaje.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Txt home */
.col-txt{
    height: 70vh;
    font-size: 100px;
}

.tic-tac-toe-txt{
    border-radius: 50px;
    padding: 40px;
}

@media (max-width: 992px){
    .tic-tac-toe-txt{
    font-size: 85px;
        padding: 15px;
    }
}
/* Txt home */

/* Boton inicio juego */
.col-btn{
    height: 13vh;
}

/* boton  */
.boton-start{
    height: 12vh;
    width: 30vw;
    border-radius: 50px;
    border: 2px solid black;
}

.boton-start:hover{
    scale: 1.1;
    transition: 0.3s;
    border: 2px solid black;
}
/* Boton inicio juego */

/* Boton normas */
.col-help{
    height: 17vh;
}

.dino-help{
    height: 10vh;
    width: 10vh;
    background-image: url(../img/brontohelp.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}