/* Container principal */
.container-tictactoe{
    height: 100vh;
    width: 100%;
    text-align: center;
    background-image: url(../img/selva.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Txt home */
.col-txt{
    height: 70vh;
    font-size: 100px;
}
/* Txt home */

/* Boton inicio juego */
.col-btn{
    height: 13vh;
}

/* boton  */
.boton-start{
    height: 12vh;
    width: 30vw;
    border-radius: 50px;
    border: 2px solid black;
}

.boton-start:hover{
    scale: 1.1;
    transition: 0.3s;
    border: 2px solid black;
}
/* Boton inicio juego */
