/* Txt home */
.col-txt{
    height: 70vh;
    font-size: 100px;
}
/* Txt home */

/* Boton inicio juego */
.col-btn{
    height: 25vh;
}

/* boton  */
.boton-start{
    height: 12vh;
    width: 30vw;
    border-radius: 50px;
    border: 2px solid black;
}

.boton-start:hover{
    scale: 1.1;
    transition: 0.3s;
    border: 2px solid black;
}
/* Boton inicio juego */

/* Troll  */
#troll{
    text-decoration: none;
    color: black;
}