/* Container  */
.container-player{
    background-image: url(../img/Paisaje2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Cabecera (nombre juego) */
.col-titulo{
    height: 10vh;
    font-size: 40px;
}

.enlace-home{
    text-decoration: none;
    color: black;
}

/* Txt selector players  */
.col-selector{
    height: 10vh;
}

/* Imagen personajes y boton inicio juego */
.row-personajes{
    height: 30vh;
}

/* img personajes  */
.img-player{
    height: 20vh;
    width: 30vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Boton listo  */
.nameImput{
    border: 2px solid black;
}

@media(min-width: 920px){
    .nameImput{
        height: 6vh;
        width: 40vw;
    }

    .col-check-btn{
        width: 20vw;
        height: 6vh;
        
    }
}

.col-check-btn{
    border: 2px solid black;
}

.col-check-btn:hover{
    scale: 1.1;
    transition: 0.3s;
    border: 2px solid black;
}

/* Player 1 */
.rex{
    background-image: url(../img/trex.png);
}

/* Player 2 */
.raptor{
    background-image: url(../img/raptor.png);
}

/* Boton home */
.col-btn-inicio{
    height: 20vh;
}

/* boton  */
.boton-start{
    width: 30vw;
    border-radius: 50px;
    border: 2px solid black;
    visibility: hidden;
}

.boton-start:hover{
    scale: 1.1;
    transition: 0.3s;
    border: 2px solid black;
}