/* Container principal */
.container-troll{
    height: 100vh;
    width: 100%;
}

/* Txt troll  */
.col-troll{
    height: 40vh;
}

/* Boton home */
.col-troll3{
    height: 20vh;
}

/* boton  */
.boton-start{
    border-radius: 50px;
    border: 2px solid black;
}

.boton-start:hover{
    scale: 1.1;
    transition: 0.3s;
    border: 2px solid black;
}