/* Container principal */
.container-winner{
    height: 100vh;
        background-image: url(../img/Paisaje2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
}

/* Titulo juego y enlace a home  */
.col-titulo{
    height: 10vh;
    font-size: 40px;
}

.enlace-home{
    text-decoration: none;
    color: black;
}

/* winner winner chicken dinner  */
.col-txt-winner{
    height:25vh;
    font-size: 40px;
}

/* player x win  */

#rex{
    height: 30vh;
}

.col-player-win{
    color: white;
}

/* bnt repeat - home */
.col-btn-home{
    height: 20vh;
    gap: 40px;
}

.boton-start{
    height: 13vh;
    width: 30vw;
    border: 2px solid black;
}
.boton-start:hover{
    scale: 1.1;
    transition: 0.3s;
    border: 2px solid black;
}

@media (min-width: 992px){
    .boton-start{
        height: 10vh;
        width: 15vw;
    }
    #rex{
        height: 35vh;
    }
}